@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


// varaiables
//  -> things like colors, default margin and padding.

$light-colour:#ffe8e8;
$dark-colour: #973b3b;

//typography:font-sizes

$font-S: 12px;
$font-M: 20px;
$font-L: 28px;

//could add another font for heading here
$font-body: 'Oswald', sans-serif;

// margin & padding
$margin-base: 10px;


$middle-button: #4A993E;
$lightcolor-button: #ddd;