nav {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 100%;
  border: 2px solid black;
  background-color: #00ffff;
}
nav .my_img {
  height: auto;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
}
nav .my_img :hover {
  image-orientation: flip;
}
nav #header {
  text-align: center;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding: 30px;
  font-size: large;
}
nav ul li :hover {
  color: purple;
  /* background-color:gold; */
  text-decoration: underline;
  cursor: pointer;
  font-size: x-large;
}