body {
  display: flex;
  justify-content: flex-start;
}
body .skillset {
  padding: 100px;
}
body .skillset ul {
  list-style-type: none;
}
body .skillset ul li {
  border: 1px solid red;
  box-sizing: border-box;
  width: fit-content;
}