body{
  display: flex;
  justify-content: flex-start;  

.skillset{
  padding: 100px;
    ul {
         list-style-type: none; 
         
         li{
           border: 1px solid red;
           box-sizing: border-box;
           width: fit-content;
         }
    }


  }
}