*{
  margin:0;
  padding: 0;
}
body{
  position: relative;
  /* The following 3 lines are to adjust the height & width & to hide the scroll bar */
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("./bk_img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;    
  background-position: 50% 50%;
  .aboutHeader{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 10px solid blue;
    //background-color: rgb(44, 36, 36);
    //color: white;
    font-size: xx-large;
    font-weight: bold;
    //max-width: 100%;
    //margin-bottom: 20px;
  }
  .about{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    // max-width: 100%;
    //  height: 100vh;
    // width:auto
    // justify-content: center;
    &__leftPanel{     
      border-right: 10px solid blue;
      padding-top: 100px;
      &--name{
        text-align: center;      
        text-decoration: underline 1px grayscale($color: #000000);
        text-underline-offset: 0.2em;
        font-size: 2.5vw;
        padding-top: 20px;
      }

    &--desg{
      text-align: center;      
      // text-decoration: underline 1px grayscale($color: #000000);
      // text-underline-offset: 0.2em;
      font-size: 1.5vw;
      padding-top: 10px;
    }

    &--img{
      display: block;
      margin: auto;       
      height: 50%;      
      border: 5px solid rgb(179, 82, 38);
      border-radius: 5px;     

    }
    // &--img{
    //   margin: auto;
    //   //display: block;
    //   //padding-top: 80px;
    //   // align-items: center;
    //   // align-self: center;
    //   // align-content: center;
    //   // justify-content: center;
    //   border-radius: 50%;
    //   // width: 50%;
    //   height: 80%;
    //   place-self: center;

    // } 
    }
    &__rightPanel{
      // display: grid;
      &__list{
        list-style-type: none;
        font-size: x-large ;
        list-style-image: linear-gradient(to left bottom, pink, blue);
        padding: 50px;
  //list-style-image: url("starsolid.gif");
        // li:before { content: '\1F95E'; margin-left: -20px; margin-right: 10px; }
        // ul{ margin-left: 40px; list-style:none; } 
        li{ 
          padding: .1em 0 0.1em 20px; 
          // background-image: url("./bullet_arrow.jpg") no-repeat; 
        } 
        // li { 
          // padding: .3em 0 1em 40px;
          //list-style-image: url("./bullet_arrow.jpg"); 
        } 
        &__coach{
          > h3{
            font-size: x-large;
            padding-bottom: 10px;
            color: blue;
          }
          > ul{
          list-style-type: none;
          font-size: x-large ;  
          padding-left: 50px;      
        li{
          &::before{
            content: '\1F95E'; margin-left: -20px; margin-right: 10px; 
          }
        }
        // padding: 50px;
        }
        }

        &__contact{
          padding-top:50px;
          > h3{
            font-size: x-large;
            padding-bottom: 10px;
            color: blue;
          }          
          font-size: large;
          
        }
      }
    
    
    }
    
  }  